<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Connection" connectionString="server=127.0.0.1;uid=root;pwd=root;database=mydb" providerName="MySql.Data.MySqlClient" />-->
    <add name="Connection" connectionString="server=LAPTOP-9F0HH0S5;Database=MyDB;Integrated Security=true;" providerName="Sql.Data.MySqlClient" />
  </connectionStrings>
</configuration>